<%= render 'shared/page_title', title: "Your Bill" %>
<strong>Book Name          -</strong><%=  @bookname %><br><br>
<strong>Isuue Date         -</strong><%=  @issue %><br><br>
<strong>Due Date           -</strong><%= @due %><br><br>
<strong>Returning Date     -</strong><%=  @return %><br><br>
<hr />
<br>
<center><h2>Bill Structure</h2></center>
Basic lending charge     -<strong>30Rs</strong><br><br>

<br><br>
<div class="col-md-4 col-md-offset-4 colormatch">
[<%= link_to "Return to Book Listing", books_path %>]
</div>
